.hero {
  width: 100%;
  height: 50vh;
  background: url('') no-repeat top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background: #002746;
  opacity: .5;
}


.hero-title {
  color: #fff;
  font-size: 40px;
  position: relative;
  padding-bottom: 30px;
}
