.video__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.video__li {
    margin-bottom: 2em;
    padding-bottom: 3em;
    border-bottom: 1px solid #bdbdbd;
}

.video__li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 992px) {
    .iframe {
        width: 500px;
        height: 255px;
    }
}

@media (max-width: 768px) {
    .iframe {
        width: 330px;
        height: 175px;
    }
}

@media (max-width: 576px) {
    .iframe {
        width: 90vw;
        height: 300px;
    }
}