.logo {
  font-family: 'GothamPro-Bold';
  color: #000;
  font-size: 19px;
  text-decoration: none;
  border-bottom: 1px solid #e2e4e6;
  padding: 15px 0;
}

.list {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 48px;
}

.list__li {
  padding: 10px 0;
}

.list__li:last-child {
  font-family: 'GothamPro-Bold';
  border-top: 1px solid #e2e4e6;
  margin-top: 20px;
}

.list__link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

.list__link:hover {
  color: #4285f4;
}

.list__link--active {
  color: #4285f4;
  font-family: 'GothamPro-Bold';
}