.book-item {
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}

.book-item:last-child {
    border: none;
}

.book-img {
    border-radius: 5px;
    margin: 16px 0 32px;
    pointer-events: none;
    max-width: 95px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'GothamPro-Bold';
    color: #333;
    margin-bottom: 25px;
}

.book-description {
    padding-bottom: 10px;
}