.chart {
  padding: 50px 0;
}

.estimation {
  padding: 25px 0;
}

.table {
  margin: 25px 0;
}

.nav-expenses {
  width: 100%;
  border-bottom: 1px solid #e2e4e6;
}

.nav-expenses__min {
  padding: 50px 0;
  text-align: center;
  border-right: 1px solid #e2e4e6;
  font-size: 18px;
  color: #333;
  font-family: 'GothamPro-Bold';
  cursor: pointer;
}

.nav-expenses__max {
  padding: 50px 0;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-family: 'GothamPro-Bold';
  cursor: pointer;
}

.--active {
  color: #4285f4;
}
