.sidenav {
  height: 100%;
  width: 200px;
  padding: 0 16px;
  color: #333;
  background-color: #fff;
  border-right: 1px solid #e2e4e6;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform .2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.content {
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: scroll;
  transition: left .2s cubic-bezier(.17,.67,.83,.67);
}

.pagination-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


.pagination__list {
  width: 100%;
  border-top: 1px solid #e2e4e6;
  list-style: none;
}

.pagination__li {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.pagination__link {
  text-decoration: none;
  height: 100px;
  cursor: pointer;
  border-right: 1px solid #e2e4e6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.pagination__li:last-child {
  border-right: none;
}

.--active {
  color: #4285f4;
}

.pagination__li:hover {
  background-color: rgba(32,33,36,.04);
  transition: background-color .2s;
}

.pagination__link--active {
  color: #4285f4 !important;
  font-family: 'GothamPro-Bold';
  background-color: rgba(32,33,36,.04);
  transition: background-color .2s;
}