.sidenav {
  height: 100%;
  width: 200px;
  padding: 0 16px;
  color: #333;
  background-color: #fff;
  border-right: 1px solid #e2e4e6;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform .2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.sidenav--active {
  transform: translateX(0) !important;
}

.content {
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: scroll;
  transition: left .2s cubic-bezier(.17,.67,.83,.67);
}

.content--active {
  opacity: .1;
  user-select: none;
  pointer-events: none;
}

.--active {
  color: #4285f4;
}

@media (max-width: 576px) {
  .sidenav {
    transform: translateX(-100%);
  }
  .content {
    left: 0;
    width: 100%;
  }
  .header {
    min-height: 100px;
  }
  .header-title {
    font-size: 30px;
  }
  .pagination__link {
    height: 50px;
    font-size: 20px;
  }
}