@font-face {
  font-family: 'GothamPro';
  src:
      url('../src/fonts/GothamPro/GothamPro.eot?') format('eot'),
      url('../src/fonts/GothamPro/GothamPro.otf') format('opentype'),
      url('../src/fonts/GothamPro/GothamPro.woff') format('woff'),
      url('../src/fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src:
      url('../src/fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
      url('../src/fonts/GothamPro-Bold/GothamPro-Bold.otf') format('opentype'),
      url('../src/fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
      url('../src/fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

b {
  font-family: 'GothamPro-Bold';
}

p {
  font-family: 'GothamPro';
  line-height: 2;
  padding-bottom: 1em;
}

li {
  font-family: 'GothamPro';
}

.link {
  color: #4285f4;
  font-family: 'GothamPro-Bold';
  text-decoration: none;
}

body {
  font-family: 'GothamPro', 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.row   {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

.col-3 {
  flex: 0 0 25%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-9 {
  flex: 0 0 75%;
}

.header {
  background: #edeff0;
  min-height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  font-family: 'GothamPro-Bold';
  font-size: 40px;
  color: #333;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.title-h1 {
  font-family: 'GothamPro-Bold';
  font-size: 40px;
  color: #333;
  line-height: 3;
}

.title-h2 {
  font-family: 'GothamPro-Bold';
  font-size: 30px;
  color: #333;
  line-height: 2;
}

.title-h3 {
  font-family: 'GothamPro-Bold';
  font-size: 25px;
  color: #333;
  line-height: 2;
}

.title-h4 {
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  color: #333;
  padding-bottom: 15px;
}

.article {
  max-width: 560px;
}

.article-enter {
  opacity: 0.01;
}

.article-enter.article-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.article-appear {
  opacity: 0.01;
}

.article-appear.article-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.article-leave {
  opacity: 1;
}

.article-leave.article-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.paper {
  padding: 50px 0;
}

.paper__text {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}